.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-page {
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
}

.attension {
  color: red;
}

.code-bg {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #ebebeb;
}

.example-box {
  border: #dcdcdd solid 3px;
  border-radius: 5px;
  padding: 15px;
}

.footer {
  height: 30px;
  width: calc(100vw - 40px);
  position: absolute;
  text-align: center;
  bottom: 0px;
}
