.github-repos-item {
  padding: 16px;
}

.github-repos-box {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
}

.github-repos-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
