.github-repos-item {
  padding: 16px;
}

.github-repos-box {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
}

.github-repos-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
