.github-repos-item {
  padding: 16px;
}

.github-repos-box {
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  width: 100%;
}

.github-repos-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.github-repos-language-p {
  color: #586069;
  font-size: 12px;
  margin-bottom: 0px;
}

.github-repos-ol {
  display: flex;
  list-style: none;
  margin-bottom: 24px;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.github-repos-li {
  display: flex;
  margin-bottom: 16px;
  align-content: stretch;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
}

@media (min-width: 768px) {
  .github-repos-li {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
